AdinkraApp/AdinkraApp.xcodeproj/project.xcworkspace/xcuserdata/intent-shadrach.xcuserdatad/UserInterfaceState.xcuserstate
AdinkraApp/AdinkraApp.xcodeproj/xcuserdata/intent-shadrach.xcuserdatad/xcschemes/xcschememanagement.plist
AdinkraApp/.DS_Store
